{
  "env": {
    "browser": true,
    "es6": true
  },
  "extends": [
    "plugin:import/recommended",
    "plugin:promise/recommended",
    "standard",
    "standard-react",
    "prettier/react",
    "plugin:prettier/recommended"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    },
    "sourceType": "module"
  },
  "plugins": ["prettier", "react", "import", "promise"],
  "rules": {
    "import/no-unresolved": ["error", { ignore: ["^react(-dom)?$", "^styled-components$"] }],
    "promise/no-nesting": ["off"],
    "react/prop-types": 'warn',
    "linebreak-style": ["error", "unix"],
  },
  "settings": {}
}
